{% extends "layout.html" %}

{% block title %}	
	Help
{% endblock %}

{% block content %}

<div id="content">

<h2> Our Application </h2>
<ul> 
<li> <h4> Web based Application so that user can easily access using Browser remotely. </h4>
<li> <h4> Managing and Monitoring of Cassandra server on different nodes.</h4>
<li> <h4> Allowing the user to manage Cassandra database without any prior knowledge of Cassandra Query Language.</h4>
</ul>
</br></br>


<h2> What is Cassandra </h2>

<h4>Apache Cassandra is an open source distributed database management system designed to handle large amounts of data across many commodity servers, providing high availability with no single point of failure. Its architecture is based in the understanding that system and hardware failure can and do occur. Cassandra addresses the problem of failures by employing a peer-to-peer distributed system where all nodes are the same and data is distributed among all nodes in the cluster. Each node exchanges information across the cluster every second. Cassandra is a row-oriented database.
</h4>
</br></br>


</br></br>
<h2> Key Advantages of Cassandra </h2>
	<ul>
	<li><p><font size="3px" style="bold">  Elastic scalability : </font> </p> Allows one to easily add capacity to accommodate and handle more data whenever.
	<li><p><font size="3px" style="bold">  Always on architecture : </font> </p> Contains no single point of failure (as with traditional master/slave RDBMS’s and other NoSQL solutions) resulting in continuous availability for critical applications that can’t afford to go down, ever.
	<li><p><font size="3px" style="bold">  Fast linear-scale performance : </font> </p> Enables sub-second response times with linear scalability (double your throughput with two nodes, quadruple it with four, and so on) to deliver response time speeds your customers have come to expect.


	<li><p><font size="3px" style="bold">  Flexible data storage : </font> </p> Easily accommodates the full range of data formats – structured, semi-structured and unstructured – that run through today’s modern applications. Also dynamically accommodates changes to your data structures as your data needs evolve.


	<li><p><font size="3px" style="bold">  Easy data distribution : </font> </p> Gives you maximum flexibility to distribute data where you need by replicating data across multiple datacenters, the cloud and even mixed cloud/on-premise environments. Read and write to any node with all changes being automatically synchronized across a cluster.

	<li><p><font size="3px" style="bold">  Operational simplicity : </font> </p> with all nodes in a cluster being the same, there is no complex configuration to manage so administration duties are greatly simplified.

	<li><p><font size="px" style="bold"> Transaction support : </font> </p> Delivers the “AID” in ACID compliance through its use of a commit log to capture all writes and built-in redundancies that ensure data durability in the event of hardware failures, as well as transaction isolation, atomicity, with consistency being tunable.

	</ul>
</br></br>

</br></br>

</div>
{% endblock %}



