
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" />
</head>

<body>

<div id="content">
  <p>List of all machines</p>
</div>
<form method = "POST" accept-charset="UTF-8" />
		<table>
             {% for item in result %}
    		<tr>
    			<td><label> {{item}} </label></td>
    		</tr>
  	     {% endfor %}
  	     	</table>
</form>

</body>
</html>



