{% extends "layout.html" %}

{% block title %}	
	
{% endblock %}

{% block content %}

<div id="three-column" class="container">	
   	<div id="tbox1"> <a href="{{ url_for('Create_ColumnFamily') }}" > <span class="icon icon-cogs"> </a> </span>
			<div class="title">
				<h2>Create</h2>
			</div>
			<p>Description.</p>
			<a href="{{ url_for('Create_ColumnFamily') }}" class="button">Learn More</a> </div>
   	<div id="tbox2"> <a href="{{ url_for('Drop_ColumnFamily') }}" > <span class="icon icon-legal"> </a>  </span>
			<div class="title">
				<h2>Destroy</h2>
			</div>
			<p>Description.</p>
			<a href="{{ url_for('Drop_ColumnFamily') }}" class="button">Learn More</a> </div>
   	<div id="tbox3"> <a href="{{ url_for('List_ColumnFamily') }}" > <span class="icon icon-list"> </a> </span>
			<div class="title">
				<h2>List</h2>
			</div>
			<p>Description.</p>
			<a href="{{ url_for('List_ColumnFamily') }}" class="button">Learn More</a> </div>
	</div>

{% endblock %}
